* {
    margin: 0px;
    padding: 0px;
}

/* .bookmark {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */


.hdr {
    background-color: black;
    margin-top: 2px;
    height: 100px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.input_form {
    margin: auto;
    width: 300px;
    white-space: nowrap;
    margin-top: 30px;



}

.bk {
    margin: auto;
    margin-top: 10px;
    width: 205%;
    height: 50px;
    background-color: aqua;
    font-size: 30px;
    position: relative;
    /* parent relative */

    /* align-items: center;*/

}

.dlt {
    float: right;
    margin-top: 5px;
    padding: 10px;

}


.inp {
    margin: auto;
    width: 300px;
    height: 40px;

}

.btn {
    margin: auto;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 179, 255);
}

.btn1 {
    margin: auto;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 179, 255);
}