.sidebar {
    min-height: 800px;
    width: '80px';

}

.hastag {
    margin: 8px;
    padding: 5px;


}

.create-post {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.reaction {
    margin: 15px 0 0 0;
}

.post-card {
    margin: 20px 50px;

}

.d {
    display: flex;
}

.d.ft {
    align-items: center;
    justify-content: center;
}

.Element {
    width: 100%;
}

.container {
    display: flex;
    height: 300px;
}

.ft {
    margin-top: auto;
}

.cstmhd {
    display: flex;
    align-items: flex-start;
    height: 150px;
    justify-content: center;
    /* সব item উপরে থাকবে */
    width: 100%;
}

.csf {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;

}