.border {
    border: 2px solid black;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.libray h4,
img {

    display: flex;

}